.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #fff4d5;
  background-color: #fff4d5;
}

.service-container1,
.service-container2 {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10px; /* Adjusts the outer margin for the container */
}

.service-card {
  margin: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%; /* Slightly less than one-third to accommodate margins */
  background-color: #ffc929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff4d5;
}

.service-card h3 {
  margin-top: 10px;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .service-card {
    width: 48%; /* Adjust to show two columns, accounting for margin */
  }
}

@media screen and (max-width: 768px) {
  .service-card {
    width: 100%; /* Full width for smaller screens */
  }
  
  .icon {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .icon {
    font-size: 24px;
  }
}
