.container {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.modalBackground {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}