.about-container {
  max-width: fit-content; /* Set maximum width */
    margin: 0 auto; /* Center the container */
    flex: 2;
  background-color: black;
  }
  .about {
    background-color:#3b945e;
    color: aliceblue;
    text-decoration:solid;
    text-align: center;
    max-height: fit-content;
    max-width: fit-content;

  }
  /* Heading styles */
 h1 {
    font-size: 2.5rem; /* Set font size */
    margin-bottom: 20px; /* Add bottom margin */
    text-align: center;
    color: rgb(10, 18, 11);
  }
  
h2 {
    font-size: 1.8rem; /* Set font size */
    margin-top: 30px; /* Add top margin */
    margin-bottom: 15px; /* Add bottom margin */
  
    color: rgb(14, 11, 11);
  }
  
  /* Paragraph styles */
  p {
    font-size: 1.1rem; /* Set font size */
    line-height: 1.6; /* Set line height */
    margin-bottom: 15px; /* Add bottom margin */
  }
  
  /* List styles */
  ul {
    margin-bottom: 20px; /* Add bottom margin */
  }
  
  li {
    margin-bottom: 20px; /* Add bottom margin */
  }
  
  /* Link styles */
  a {
    color:red; /* Set link color */
    text-decoration: none; /* Remove underline */
  }
  
  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }